.button {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 24px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}


.primary {
  background: rgba(85, 132, 122, 0.97);
  color: white;

}

.outlined {
  background: rgba(85, 132, 122, 0.97);
  color: black;
}


/* .icon {} */